<!-- Main Footer -->
<footer class="main-footer">
    <strong>Copyright &copy; 2020 <a href="https://geoffroydutot.fr" rel="noopener" target="_blank">Geoffroy DUTOT</a>.</strong>
    Tous droits réservés.
</footer>
